.footer-container {
  position:fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 1em;
  background-color: #A5C7E2;
}

.content {
  display: flex;
  align-items: center;
  /*justify-content: space-between;*/
}

a {
  text-decoration: none;
}